* {
    margin: 0;
}

header {
    height: 50px;
    width: 100%;
}

div#logo{
    background-color: #f5f5dc;
    float: left;
    height: 100%;
    width: 50%;
}

div#search {
    background-color: #7fffd4;
    float: right;
    height: 100%;
    width: 50%;
    text-align: right;
}

div#content {
    height: 500px;
    background-color: #fff8dc;
    float: none;
}

div#trailer {
    height: 100%;
}

div#trailer_header {
  background-color: #f0fff0;
  height: 10%;
}

div#trailer_content {
    height: 75%;
    background-color: #696969;
}

div#trailer_footer {
  background-color: #e9967a;
    height: 15%;
}

footer {
    background-color: #5f9ea0;
    color: #f0fff0;
    float: left;
    width: 100%;
    text-align: center;
    padding-left: 500px;
}


div#footer_menu {
    float: left;
}

div#footer_menu ul{
    list-style-type: none;
}

div#footer_menu li {
    float: left;
    padding-left: 10px;
}